body{
    background-image: linear-gradient(-90deg,#0c0910 , #5b3960,#0a0509);
    background-repeat: no-repeat;
    background-size: 100%;
}
 
#maine{
    border-radius: 25px;
    overflow: hidden;
}

#menu{
    background-color: #98175f !important;
}
#menu > div > ul > li > a{
    color: #f0c310;
    font-weight: bold;
}

#control-panel > h3{
    color: #98175f;
}

#control-panel > div > div > span{
    padding: 10px 40px;
    background-color: #98175f;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.5rem;
}

#control-panel > div > div > div{
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #9a1b68;
    font-weight: bolder;
    background-color: #f1c410;  
}

#control-panel > div > div{
    padding: 1.5rem 2.5rem;
}

#control-panel > div > div > div > span{
    font-size: 1.5rem;
}
#control-panel > div{
    margin-top: 10rem;
}

#control-panel > div > div:nth-child(4){
    margin-top: 8rem;
}
#control-panel > div > div:nth-child(5){
    margin-top: 8rem;
}
#control-panel > div > div:nth-child(6){
    margin-top: 8rem;
}

#control-panel > div > div:nth-child(1) > div{
    top: 16%;
}

#control-panel > div > div:nth-child(2) > div{
    top: 16%;
}

#control-panel > div > div:nth-child(3) > div{
    top: 16%;
}
#control-panel > div > div:nth-child(4) > div{
    top: 54%;
}
#control-panel > div > div:nth-child(5) > div{
    top: 54%;
}
#control-panel > div > div:nth-child(6) > div{
    top: 54%;
}




