body{
    background-image: linear-gradient(-90deg,#0c0910 , #5b3960,#0a0509);
    background-repeat: no-repeat;
    background-size: 100%;
}
 #root{
}
#maine{
    border-radius: 25px;
    overflow: hidden;

}
#menu{
    background-color: #98175f !important;
}
#menu > div > ul > li > a{
    color: #b86e50;
    font-weight: bold;
}

